<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dest/css/clone11.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>(S)CSS Masterclass - Won Hundred</title>
  </head>
  <body>
    <header>
      <nav>
        <h3>Won Hundred</h3>
        <ul>
          <li>Jeans</li>
          <li>Women</li>
          <li>Men</li>
          <li>Universe</li>
          <li>Responsibility</li>
          <li>Container</li>
        </ul>
        <ul>
          <li>Search</li>
          <li>Currency</li>
          <li>Bag (0)</li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="hero">
        <div class="hero__image image0">
          <div class="hero__image__text">
            <span>Get up to 60% off</span>
            <span>Sale</span>
            <span>Shop Now</span>
          </div>
        </div>

        <div class="hero__grid">
          <div class="hero__grid__image image1">
            <div class="hero__grid__image__text">
              <span>Women's Pre-spring 23</span>
            </div>
          </div>
          <div class="hero__grid__image image2">
            <div class="hero__grid__image__text">
              <span>Men's Pre-spring 23</span>
            </div>
          </div>
        </div>
      </div>

      <div class="products">
        <div class="products__header">
          <span>Women</span>
          <span>Men</span>
        </div>

        <div class="products__grid">
          <div class="products__grid__image image3">
            <div class="products__grid__image__hidden image4">
              <div class="products__grid__image__text">
                <span>Reykjavik Bomber - Olivine</span>
                <span>2800 DKK</span>
              </div>
            </div>
          </div>
          <div class="products__grid__image image5">
            <div class="products__grid__image__hidden image6">
              <div class="products__grid__image__text">
                <span>Reykjavik Bomber - Olivine</span>
                <span>2800 DKK</span>
              </div>
            </div>
          </div>
          <div class="products__grid__image image7">
            <div class="products__grid__image__hidden image8">
              <div class="products__grid__image__text">
                <span>Reykjavik Bomber - Olivine</span>
                <span>2800 DKK</span>
              </div>
            </div>
          </div>
          <div class="products__grid__image image9">
            <div class="products__grid__image__hidden image10">
              <div class="products__grid__image__text">
                <span>Reykjavik Bomber - Olivine</span>
                <span>2800 DKK</span>
              </div>
            </div>
          </div>
        </div>

        <div class="products__view">
          <span>View All Products</span>
        </div>
      </div>

      <div class="blog">
        <div class="blog__post">
          <div class="blog__post__image image11">
            <div class="blog__post__image__text">Shop Men's Jeans</div>
          </div>
          <div class="blog__post__image image12">
            <div class="blog__post__image__text">Shop Women's Jeans</div>
          </div>
        </div>
        <div class="blog__post">
          <div class="blog__post__image image13"></div>
          <div class="blog__post__text">
            <h4>Won Hundred presents:</h4>
            <h3>DEADSTOCK</h3>
            <p>
              The Won Hundred deadstock collection consists of 5 unisex styles,
              including relaxed shirts, denim-inspired jackets, and pants. In an
              industry characterized by seasons, the deadstock collection has
              been produced with long-term partners during the factories' "low
              season" to maintain a stable workflow.
            </p>

            <p>
              The fabrics are sourced from trusted partners in Portugal and are
              put together in Bulgaria using fabrics from the past eight Won
              Hundred collections. Furthermore, Won Hundred strives to secure an
              alignment with one of our Green Cross goals: increasing production
              made within the EU.
            </p>
            <p>
              Each style is made from left-over materials, which gives each item
              a contrasting and different look. In addition, the use of
              deadstock fabrics offers the Won Hundred design team an
              opportunity to mix different colors and patterns in a new
              deconstructed way simply because of the limitations of the
              left-over materials.
            </p>
            <p>
              The Won Hundred deadstock collection launches exclusively via
              wonhundred.com and is offered in limited quantities only.
            </p>

            <a href="#">View collection</a>
          </div>
        </div>
        <div class="blog__post">
          <div class="blog__post__image image14"></div>
          <div class="blog__post__text">
            <h4>Won Hundred presents:</h4>
            <h3>A NEW TAKE ON LEATHER BOOTS</h3>
            <p>
              Together with legendary boot manufacturer Sendra, Won Hundred has
              designed and produced two signature silhouettes as part of the
              FW22 collection.
            </p>
            <p>
              Made in 100% leather, the boots are rooted in our denim universe
              and combined with our fashion aesthetic, making these boots a
              perfect fit for every occasion. They are available in two
              colorways, black and brown, the boots offer a versatile feel and
              look for everyone.
            </p>
            <p>
              For FW22, Won Hundred launches 1 pair of womenswear boots and 1
              unisex silhouette for both men and women.
            </p>
            <span><b>Produced in partnership with Sendra </b></span>
            <p>
              In close partnership with Sendra, we have been working and
              developing this unique silhouette to accommodate our vision from a
              design perspective. With more than 100 years in the business,
              Sendra has played a key part in making this vision come to life.
            </p>
            <p>
              Today, Sendra serves as an industry leader when it comes to
              manufacturing and production of leather boots, and through
              Sendra’s strong sense of quality and creation of long-lasting
              products – the company has won recognition worldwide.
            </p>
            <a href="#">Click to view. </a>
          </div>
        </div>
        <div class="blog__post">
          <div class="blog__post__image image15"></div>
          <div class="blog__post__text">
            <h3>OUR SUSTAINABILITY AMBITIONS</h3>
            <p>
              At Won Hundred, we take a proactive stance in bettering our
              industry and reducing our environmental impact. We believe the key
              to ethical and responsible business practices is not only reducing
              our carbon footprint but also improving the conditions for the
              people and animals involved. It is important for us that our
              suppliers wish to partake in our journey - only this way can we
              achieve long-term success and trust.
            </p>
            <p>
              We are aware that the fashion and textile industry holds many
              challenges in terms of ethics and sustainability. However, as
              sustainability applies to everybody, it is our belief that the
              size of the company should never be an excuse to practice
              sustainable and responsible business. We are convinced that
              continuously “doing something” is better than “doing nothing”.
            </p>
            <a href="#">Read more.</a>
          </div>
        </div>
      </div>

      <div class="gallery">
        <div class="gallery__image image16">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="gallery__image image17">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="gallery__image image18">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="gallery__image image19">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="gallery__image image20">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer__grid">
        <div class="footer__subs">
          <h4>Subscribe and get 10% off your first order</h4>
          <div class="footer__subs__check">
            <input type="checkbox" required />
            <span>I agree, to receive emails from Won Hundred.</span>
          </div>
          <input
            type="text"
            placeholder="email address"
            class="footer__subs__email"
            required
          />
          <div class="footer__subs__category">
            <span>Women's</span>
            <span>Men's</span>
            <span>All Fashion</span>
          </div>
        </div>
        <div class="footer__contact">
          <span
            ><b>Follow Us</b> <a href="#">Facebook</a> •
            <a href="#">Instagram</a></span
          >
          <span><b>Won Hundred</b></span>
          <span>GAMMEL KONGEVEJ 102, 1 TV</span>
          <span>1850 FREDERIKSBERG C, DENMARK</span>
          <span>CVR 27759491</span>
          <span> </span>
          <span>CUSTOMERCARE@WONHUNDRED.COM</span>
        </div>
        <div class="footer__links">
          <div class="footer__link">
            <a href="#">Gift Card</a><a href="#">Terms & Conditions</a
            ><a href="#">Privacy</a><a href="#">Account</a
            ><a href="#">Exchange & Return</a>
          </div>
          <div class="footer__link">
            <a href="#">About</a><a href="#">Contact</a
            ><a href="#">Sustainability</a><a href="#">B2B</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
