<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dest/css/clone05.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>(S)CSS Masterclass - Schwartz</title>
  </head>
  <body>
    <header>
      <div class="header__menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="header__title">
        <h2>Schwartz Media</h2>
      </div>
    </header>
    <main>
      <div class="hero">
        <div class="hero__photo"></div>
        <div class="hero__text">
          <h2>News that lasts.</h2>
          <p>
            <span>About</span>
            Schwartz Media publishes intelligent news and current affairs that
            breaks the 24-hour news cycle. We offer a nuanced examination of
            Australia and the world, focused on fresh insight and literary
            expression. Our audience reads to know, not just to agree. We invest
            in long-form journalism where the issues demand it, providing
            writing of a quality that makes difficult topics clear. Schwartz
            Media publishes Australia’s most respected writers across The
            Saturday Paper, The Monthly magazine and the daily podcast 7am,
            alongside our sister publications, Quarterly Essay and Australian
            Foreign Affairs.
          </p>
        </div>
        <div class="hero__link">
          <a href="#"
            ><i class="fas fa-arrow-circle-right"></i>View our Companies</a
          >
        </div>
      </div>

      <section class="products">
        <article class="product">
          <div>
            <h4 class="product__category">Journalism</h4>
            <p class="product__description">
              Our journalists create in-depth, independent, original public
              interest reporting, focusing on storytelling and insight.
            </p>
            <a href="#" class="btn">Learn More</a>
          </div>
          <img src="https://source.unsplash.com/random/500x360" />
        </article>
        <article class="product">
          <div>
            <h4 class="product__category">The Monthly</h4>
            <p class="product__description">
              The Monthly publishes long-form journalism from the nation's
              leading writers and thinkers, covering Australian politics,
              culture and ideas.
            </p>
            <a href="#" class="btn">Learn More</a>
            <a href="#" class="btn">Advertise</a>
          </div>
          <img src="https://source.unsplash.com/random/500x361" />
        </article>
        <article class="product">
          <div>
            <h4 class="product__category">The Saturday Paper</h4>
            <p class="product__description">
              The Saturday Paper is a weekly newspaper, dedicated to telling the
              whole story. It publishes long-form accounts of the week’s key
              stories.
            </p>
            <a href="#" class="btn">Learn More</a>
            <a href="#" class="btn">Advertise</a>
          </div>
          <img src="https://source.unsplash.com/random/500x362" />
        </article>
        <article class="product">
          <div>
            <h4 class="product__category">7am</h4>
            <p class="product__description">
              7am is a daily news podcast that tells the big stories through
              in-depth interviews and sharp analysis.
            </p>
            <a href="#" class="btn">Learn More</a>
            <a href="#" class="btn">Advertise</a>
          </div>
          <img src="https://source.unsplash.com/random/500x363" />
        </article>

        <div class="line">
          <article class="product">
            <div>
              <h4 class="product__category">Quarterly Essay</h4>
              <img src="https://source.unsplash.com/random/500x364" />
              <p class="product__description">
                Quarterly Essay is the leading agenda-setting journal of
                politics and culture in Australia.
              </p>
              <a href="#" class="btn">Learn More</a>
              <a href="#" class="btn">Advertise</a>
            </div>
          </article>
          <article class="product">
            <div>
              <h4 class="product__category">Australian Foreign Affairs</h4>
              <img src="https://source.unsplash.com/random/500x365" />
              <p class="product__description">
                Australian Foreign Affairs is the country’s leading foreign
                affairs journal.
              </p>
              <a href="#" class="btn">Learn More</a>
              <a href="#" class="btn">Advertise</a>
            </div>
          </article>
        </div>

        <div class="advertise">
          <article class="product">
            <div>
              <h4 class="product__category">Advertise</h4>
              <p class="product__description">
                Get in touch with our advertising team.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
          </article>
        </div>
        <div class="line">
          <article class="product">
            <div>
              <h4 class="product__category">Shop</h4>
              <img src="https://source.unsplash.com/random/500x366" />
              <p class="product__description">
                In collaboration with Alpha60, The Saturday Paper and The
                Monthly bring you a tote bag.
              </p>
              <a href="#" class="btn">Shop Now</a>
            </div>
          </article>
          <article class="product">
            <div>
              <h4 class="product__category">Give a Gift</h4>
              <img src="https://source.unsplash.com/random/500x367" />
              <p class="product__description">
                Give The Saturday Paper or The Monthly as a gift.
              </p>
              <a href="#" class="btn">Gift</a>
            </div>
          </article>
        </div>

        <div class="links">
          <article class="product">
            <div>
              <h4 class="product__category">Careers</h4>
              <p class="product__description">
                Work at the country’s leading independent publisher.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
          </article>
          <article class="product">
            <div>
              <h4 class="product__category">News</h4>
              <p class="product__description">
                Keep in touch with what is happening at Schwartz Media.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
          </article>
          <article class="product">
            <div>
              <h4 class="product__category">Contact</h4>
              <p class="product__description">
                Get in touch with our editorial and advertising teams.
              </p>
              <a href="#" class="btn">Learn More</a>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer__wrapper">
        <div class="footer__left">
          <div class="footer__title"><h2>Schwartz</h2></div>
          <div></div>
          <div class="footer__toc">
            <span>Terms & Conditions</span><span>Privacy Policy</span>
          </div>
          <div class="footer__legal">
            <span>© 2023 Schwartz Publishing</span
            ><span>All rights reserved</span>
          </div>
        </div>
        <div class="footer__right">
          <div><span>Schwartz Media</span></div>
          <div><span>Schwartz Books</span></div>
        </div>
      </div>
    </footer>
  </body>
</html>
