<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dest/css/clone08.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>(S)CSS Masterclass - Beige</title>
  </head>
  <body>
    <header>
      <h1>Beige</h1>
      <nav>
        <ul>
          <li>
            <div class="circle"></div>
            <a href="#" value="Mode">Mode</a>
          </li>
          <li>
            <div class="circle"></div>
            <a href="#" value="Interior">Interior</a>
          </li>
          <li>
            <div class="circle"></div>
            <a href="#" value="Beauty">Beauty</a>
          </li>
          <li>
            <div class="circle"></div>
            <a href="#" value="Kultur">Kultur</a>
          </li>
          <li>
            <div class="circle"></div>
            <a href="#" value="Reisen">Reisen</a>
          </li>
          <li>
            <div class="circle"></div>
            <a href="#" value="Menschen">Menschen</a>
          </li>
          <li>
            <div class="circle"></div>
            <a href="#" value="Nachhaltig">Nachhaltig</a>
          </li>
          <li>
            <div class="circle"></div>
            <a href="#" value="Food">Food</a>
          </li>
        </ul>
      </nav>
      <div class="header__about">
        <h2 value="About">About</h2>
        <i class="fas fa-search"></i>
      </div>
    </header>

    <main class="posts">
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <div class="post__image post__image__full image1"></div>
          </div>
          <div class="invisible">
            <p>
              Dänemark, Schweden, Norwegen und Deutschland: Das dänische
              Hospitality-Start-up Landfolk bietet in diesen Ländern
              wunderschöne Ferienhäuser mit Design-Aspekt an
            </p>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name">Werbung mit Landfolk</span>
        </div>
        <div class="post__content">
          <div class="visible">
            <div class="post__image post__image__small image2"></div>
          </div>
          <div class="invisible">
            <p>
              Dänemark, Schweden, Norwegen und Deutschland: Das dänische
              Hospitality-Start-up Landfolk bietet in diesen Ländern
              wunderschöne Ferienhäuser mit Design-Aspekt an
            </p>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <h3>Who is Axel Arigato?</h3>
          </div>
          <div class="invisible">
            <div class="post__image post__image__full image3"></div>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
          </div>
          <div class="invisible">
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <div class="post__image post__image__full image4"></div>
          </div>
          <div class="invisible">
            <p>
              Dänemark, Schweden, Norwegen und Deutschland: Das dänische
              Hospitality-Start-up Landfolk bietet in diesen Ländern
              wunderschöne Ferienhäuser mit Design-Aspekt an
            </p>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name">Werbung mit Landfolk</span>
        </div>
        <div class="post__content">
          <div class="visible">
            <div class="post__image post__image__small image5"></div>
          </div>
          <div class="invisible">
            <p>
              Dänemark, Schweden, Norwegen und Deutschland: Das dänische
              Hospitality-Start-up Landfolk bietet in diesen Ländern
              wunderschöne Ferienhäuser mit Design-Aspekt an
            </p>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <h3>Who is Axel Arigato?</h3>
          </div>
          <div class="invisible">
            <div class="post__image post__image__full image6"></div>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
          </div>
          <div class="invisible">
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <div class="post__image post__image__full image7"></div>
          </div>
          <div class="invisible">
            <p>
              Dänemark, Schweden, Norwegen und Deutschland: Das dänische
              Hospitality-Start-up Landfolk bietet in diesen Ländern
              wunderschöne Ferienhäuser mit Design-Aspekt an
            </p>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name">Werbung mit Landfolk</span>
        </div>
        <div class="post__content">
          <div class="visible">
            <div class="post__image post__image__small image8"></div>
          </div>
          <div class="invisible">
            <p>
              Dänemark, Schweden, Norwegen und Deutschland: Das dänische
              Hospitality-Start-up Landfolk bietet in diesen Ländern
              wunderschöne Ferienhäuser mit Design-Aspekt an
            </p>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <h3>Who is Axel Arigato?</h3>
          </div>
          <div class="invisible">
            <div class="post__image post__image__full image9"></div>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
      <section class="post">
        <div class="post__header">
          <span class="post__name"></span>
        </div>
        <div class="post__content">
          <div class="visible">
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
            <h3>Newsletter</h3>
          </div>
          <div class="invisible">
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
            <h3 class="colorful">Newsletter</h3>
          </div>
        </div>
        <div class="post__footer">
          <span class="post__category">Interview</span
          ><span class="post__date">25.1.23</span
          ><span class="post__author">Marie Jaster</span>
        </div>
      </section>
    </main>
  </body>
</html>
