<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dest/css/clone01.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>(S)CSS Masterclass - Best Horror Scenes</title>
  </head>
  <body>
    <header>
      <h1>Best Horror Scenes</h1>
      <div class="bottom">
        <h3>
          An ever growing collection featuring some of the best scenes in
          horror.
        </h3>
        <p>
          “Best Horror Scenes” is a collection of scenes I feel are some of the
          most affecting in horror. Some may be simple black cat scares, others
          may be more subdued or nuanced. Many come from films that aren't
          necessarily “horror” but have elements or threads of horror.
        </p>
        <nav>
          <ul>
            <li>Newsletter</li>
            <li>Suggest a Scene</li>
            <li>YouTube</li>
            <li>Twitter</li>
            <li>Contact</li>
            <li>RSS</li>
            <li>Letterboxd</li>
          </ul>
        </nav>
        <footer>
          Best Horror Scenes is a love letter to the Horror film genre by
          Brandon Durham. Most film clips contain major spoilers, and it is
          recommended you don’t watch the clip if you plan on seeing the film.
        </footer>
      </div>
    </header>
    <main>
      <section class="sort">
        <div class="sort__text">
          <span>Currently viewing </span>
          <span>everything</span>
          <span> sorted by </span>
          <span>random</span>
          <span>.</span>
        </div>
      </section>
      <section class="movies">
        <div class="movie">
          <div class="wrapper">
            <div class="movie__header">
              <h4>The Void (2016)</h4>
              <h5>Directed by Jeremy Gillespie and Steven Kostanski</h5>
            </div>
            <img src="poster1.png" alt="" />
            <div class="movie__footer">
              <div class="movie__rating">My rating: 7/10</div>
              <div class="movie__comments">
                <span>No Comments</span>
                <div>
                  <i class="fas fa-comment"></i>
                  <span>Leave a Comment</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="movie">
          <div class="wrapper">
            <div class="movie__header">
              <h4>The Void (2016)</h4>
              <h5>Directed by Jeremy Gillespie and Steven Kostanski</h5>
            </div>
            <img src="poster1.png" alt="" />
            <div class="movie__footer">
              <div class="movie__rating">My rating: 7/10</div>
              <div class="movie__comments">
                <span>No Comments</span>
                <div>
                  <i class="fas fa-comment"></i>
                  <span>Leave a Comment</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="movie">
          <div class="wrapper">
            <div class="movie__header">
              <h4>The Void (2016)</h4>
              <h5>Directed by Jeremy Gillespie and Steven Kostanski</h5>
            </div>
            <img src="poster1.png" alt="" />
            <div class="movie__footer">
              <div class="movie__rating">My rating: 7/10</div>
              <div class="movie__comments">
                <span>No Comments</span>
                <div>
                  <i class="fas fa-comment"></i>
                  <span>Leave a Comment</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="movie">
          <div class="wrapper">
            <div class="movie__header">
              <h4>The Void (2016)</h4>
              <h5>Directed by Jeremy Gillespie and Steven Kostanski</h5>
            </div>
            <img src="poster1.png" alt="" />
            <div class="movie__footer">
              <div class="movie__rating">My rating: 7/10</div>
              <div class="movie__comments">
                <span>No Comments</span>
                <div>
                  <i class="fas fa-comment"></i>
                  <span>Leave a Comment</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
