%bigText {
  font-size: 54px;
  font-weight: 700;
  font-family: "Crimson Text";
}

%mediumText {
  font-size: 38px;
  font-weight: 400;
  font-family: "Crimson Text";
}

%smallText {
  font-size: 14px;
}
