<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../dest/css/clone04.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>(S)CSS Masterclass - zoo.fr</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>zoo</li>
          <li>contact</li>
          <li>team</li>
          <li>clients</li>
        </ul>
        <ul>
          <li>projets</li>
          <li>tous</li>
          <li>en</li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <div class="image1"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image2"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image3"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image4"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image5"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image6"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image7"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image8"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image9"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image10"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image11"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image12"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image13"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image14"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image15"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image16"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image17"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
      <article>
        <div class="image18"></div>
        <div><h3>Courants Verts</h3></div>
      </article>
    </main>
  </body>
</html>
